@font-face {
    font-family: 'NexaBold';
        src: url('../fonts/NexaBold.otf');
}
@font-face {
    font-family: 'NexaLight';
        src: url('../fonts/NexaLight.otf');
}
.left {float: left;}
.right {float: right;}
.container {
    max-width: 960px;
    margin: 0 auto; /* изображение по центру */
    padding: 0 10px;
}
#header {
    background-color: #373737;
}
.logo {
    height: 65px;
}
.logo > span {
    display: inline-block;
    margin-left: 20px;
    vertical-align: middle;
    font: 18px 'NexaLight';
    color: white;
    margin-bottom: 60px;
}
